<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" href="../static/css/site.css" th:href="@{/css/site.css}"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</head>

<body>
<div class="container">
<div align="center">
<h1>Coronavirus Tracker Application</h1>
<p>This realtime application lists the current number of cases reported across the globe. 
It updates regularly according to John Hopkins COVID19 Github repository.</p>
source:<a href="https://github.com/CSSEGISandData">John Jopkins University Github </a>
<br>
Reference: <a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"> John Hopkin University COVID19 Dashboard</a>
</div>
<div class="jumbotron" align="center">

<p class="lead">Coronavirus Cases:</p>

    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
     <p>
        <span>New confirmed cases reported since previous day:</span>
        <span th:text="${totalNewCases}"></span>
    </p>
     <a th:href="@{/confirmed-cases}" style="color: green;"><u>view by country</u></a><br/>
    <p class="lead">Deaths:</p>
    <h1 class="display-4" th:text="${totalReportedDeadCases}"></h1>
       <p>
        <span>New death cases reported since previous day:</span>
        <span th:text="${totalNewDeathCases}"></span>
    </p>
      <a th:href="@{/death-cases}"  style="color: green;"><u>view by country</u></a>
    <p class="lead">Recovered:</p>
    <h1 class="display-4" th:text="${totalRecoveryCases}" style="color: green;"></h1>
     <p>
        <span>New recovery cases reported since previous day:</span>
        <span th:text="${totalNewRecoveryCases}" style="color: green;"></span>
    </p>
  
 <a th:href="@{/recovery-cases}"  style="color: green;"><u>view by country</u></a>
</div>

    
</div>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script th:src="@{/js/table.js}"></script>
</body>

</html>